<!-- Pictures, Video, Description, Title, Condition -->
<%= f.hidden_field :category_id, value: params[:category_id] %>
<div class="row">
  <div class="col-md-12">
    <section class="panel">
      <header class="panel-heading">
        Variações
      </header>
      <div class="panel-body" id="variations-container">
        <!-- Variations will be appended here -->
      </div>
    </section>
  </div>
</div>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

<div class="row " id="item-step-description" >
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <div class="panel-heading">Mais informações</div>
        <h3>Mais informações</h3>
        <!-- Youtube Video -->

        <br>
        <h4>Descreva o seu produto</h4>
        <!-- Title -->
        <%= f.input :title,
        label:   "Título",
        wrapper: false,
        required: true %>
        <!-- Description -->
        <%= f.input :description,
        label:      "Descrição",
        as:         :text,
        wrapper:    false,
        input_html: { class: "redactor", ows: 40, cols: 120 } %>
        <!-- Condition -->
        <br>
        <h4>Qual a condição do seu produto?</h4>
        <% #= Mercadolibre::Item.human_attribute_name :condition %>
        <div class="radios">
          <%
          Mercadolibre::Item::CONDITIONS.each do |condition|
          condition = unspecified if condition == :not_specified
          %>
          <label class="label_radio r_on item-condition">
            <%= f.radio_button(:condition, condition, input_html_options: { name: "sample-radio" }) %>
            <%= condition %>
          </label>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
