%tr
  - # checkbox
  %th.table-checkbox
  %th= @klass.human_attribute_name :title
  %th= @klass.human_attribute_name :start_time
  %th= @klass.human_attribute_name :stop_time
  %th= @klass.human_attribute_name :infos
  %th= @klass.human_attribute_name :status
  - # actions
  %th.table-actions
