<% if item %>
  <tr id="item_<%= item.id %>">
    <td class="text-center hidden-xs table-checkbox">
      <input class="list-child" type="checkbox">/</input>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:title       ) %>">
      <div class="user-heading round">
      <% if item.pictures and item.pictures.first and item.pictures.first.meli_url.present? %>
        <a href="#">
            <%= image_tag item.pictures.first.meli_url, style: "width: 50px" %>
        </a>
      <% end %>
      </div>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:meli_item_id       ) %>">
      <%= link_to dashboard_item_path(@dashboard, item), title: item.title do %>
        <%= truncate(item.meli_item_id, length: 75) %>
      <% end %>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:meli_item_id       ) %>">
      <%= link_to dashboard_item_path(@dashboard, item), title: item.title do %>
        <%= truncate(item.title, length: 75) %>
      <% end %>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:start_time  ) %>">
      <%= item.price %>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:start_time  ) %>">
      <% if item.item_storage %>
        <%= item.item_storage.sold_quantity %>
      <% end %>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:start_time  ) %>">
      <% if item.item_storage %>
        <%= item.item_storage.available_quantity %>
      <% end %>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:status      ) %>">
      <%= link_to 'Editar Anúncio', edit_dashboard_item_path(id: item.id),style: "font-size: 11px" %>
    </br>
      <%= link_to 'Ver concorrentes', monitor_dashboards_path(category_id: item.category_id, dashboard_id: @dashboard.id),style: "font-size: 11px" %>
    </td>

  </tr>
<% end %>

