- label_class ||= "sr-only"
- button_class ||= "btn-xs"
- delete_remote = true

- if defined?(f) || params[:action] == "edit"
  - # If action == form (edit or new)

  = link_to :back, class: "btn btn-default #{button_class}" do
    = translate_button_content(:back, item, icon: :"arrow-left", label_class: label_class)

  - if defined? f
    = # button_tag class: "btn btn-success #{button_class}" do
    = f.button :button, type: :submit, class: "btn btn-success #{button_class}" do
      = translate_button_content(:submit, item, icon: :check, label_class: label_class)

  - delete_remote = false

- else
  - # RESTORE OR EDIT
  - if item.deleted?
    = link_to restore_dashboard_item_path(@dashboard, item), class: "btn btn-success #{button_class}", remote: true do
      = translate_button_content(:restore, item, icon: :undo, label_class: label_class)

  - else
    = link_to edit_dashboard_item_path(@dashboard, item), class: "btn btn-primary #{button_class}" do
      = translate_button_content(:edit, item, icon: :pencil, label_class: label_class)

  -# - unless item.synced_with_api?
  -#   = link_to dashboard_item_sync_path(@dashboard, item), class: "btn btn-primary #{button_class}", remote: true do
  -#     = translate_button_content(:sync, item, icon: :"cloud-upload", label_class: label_class)

- # DESTROY or DELETE
- if item.empty? or item.deleted?
  = link_to dashboard_item_path(@dashboard, item, force: true), class: "btn btn-danger #{button_class}", method: :delete, remote: delete_remote, data: { confirm: t("helpers.confirm.destroy", model: down_model(item.class)) } do
    = translate_button_content(:destroy, item, icon: :"trash-o", label_class: label_class)

- else
  = link_to dashboard_item_path(@dashboard, item), class: "btn btn-danger #{button_class}", method: :delete, remote: delete_remote do
    = translate_button_content(:delete, item, icon: :"trash-o", label_class: label_class)

