<% if @items %>
  <% @items.each do |item| %>
  <tr id="item_<%= item.id %>">
    <td data-title="<%= @klass.human_attribute_name(:meli_item_id       ) %>">
      <%= link_to dashboard_item_path(@dashboard, item), title: item.title do %>
        <%= truncate(item.id, length: 75) %>
      <% end %>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:meli_item_id       ) %>">
      <%= link_to dashboard_item_path(@dashboard, item), title: item.title do %>
        <%= truncate(item.title, length: 75) %>
      <% end %>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:start_time  ) %>">
      <%= item.listing_type_id %>
    </td>    
    <td data-title="<%= @klass.human_attribute_name(:start_time  ) %>">
      <%= item.price %>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:start_time  ) %>">
        <%= item.sold_quantity? %>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:start_time  ) %>">
        <%= item.available_quantity? %>
    </td>
    <td data-title="<%= @klass.human_attribute_name(:start_time  ) %>">
        <%= link_to item.seller.id?, item.permalink %>
    </td>    

  </tr>
  <% end %>
<% end %>

