/ page start
.row
  .col-lg-12
    %section.panel
      .panel-body
        .row
          .col-md-12
            / .flash-message.fade.in.alert.alert-info.alert-dismissable
            /   %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &#215;

            /   = "No momento não é possível criar novos anúncios pelo AirCRM, logo estaremos com essa funcionalidade funcionando a todo vapor, podendo inclusive criar e editar anúncios em massa."


          .col-md-4
            .btn-group
              = link_to dashboard_categories_path(@dashboard), id: "new_item", class: "btn btn-success btn-sm" do
                = translate_button_content(:create, @klass, icon: :plus, label_class: "hidden-xs")

              = link_to dashboard_items_path(@dashboard), id: "refresh_items", class: "btn btn-info btn-sm" do
                = translate_button_content(:refresh, @klass, icon: :refresh, label_class: "sr-only")

              .btn-group
                %button#more-actions.btn.btn-default.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                  = t(".more")
                  %i.fa.fa-ellipsis-h

                %ul.dropdown-menu{"aria-labelledby" => "more-actions", role: "menu"}
                  %li{role: "presentation"}
                    = link_to t(".trash"), dashboard_items_path(@dashboard, { deleted: true }), tabindex: "-1"

              .btn-group
                %button#more-actions.btn.btn-default.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                  = t(".excel")
                  %i.fa.fa-ellipsis-h

                %ul.dropdown-menu{"aria-labelledby" => "more-actions", role: "menu"}
                  %li{role: "presentation"}
                    = link_to catalog_import_dashboard_items_path, id: "import_invitation", tabindex: "-1", remote: true do
                      = translate_button_content(:import, @klass, icon: :upload, label_class: "")

                  %li{role: "presentation"}
                    = link_to "planilha modelo", dashboard_items_path(format: "xls")




          .col-md-8
            =# status_label @klass::STATUS



    %section#all-items.panel
      %header.panel-heading
        = render_breadcrumbs

      .panel-body
        - if @items.present?
          .no-more-tables
            %table.display.table.table-bordered.table-striped.table-condensed.no-more-tables
              %thead
                = render "index_table_head"

              %tbody#items-body
                = render @items
                #question_paginate.col-md-12
                = will_paginate @items, previous_label: h("<"), next_label: h(">")
        - else
          = translate_count_result @items

