<% if @items %>
  <% @items.each do |item| %>
  <tr id="item_<%= item.id %>">
    <td>
      <%= link_to item.permalink, title: item.title do %>
        <%= truncate(item.title, length: 75) %>
      <% end %>
    </td>
    <td>
      <%= item.listing_type_id %>
    </td>
    <td>
      <%= item.price %>
    </td>
    <td>
      <%= item.installments.quantity*(item.installments.amount).round(0) %>
    </td>
    <td>
        <%= item.sold_quantity? %>
    </td>
    <td>
        <%= item.shipping.free_shipping == true ? :frete_grátis :nil%>
    </td>
    <td>
        <%= item.address.state_name %><%= "-" %> <%=  item.address.city_name %>
    </td>
    <td>
        <%= item.seller.power_seller_status? %>
    </td>
  </tr>
  <% end %>
<% end %>

