<!-- page start
-->
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <ul class="panel" style= "width: 100%; height: 60px; padding-top:15px; padding-left: 30px;">
        <li class="dropdown" style="padding-right: 30px; float: left">
          <a style="color:#31708f  ; background: #d9edf7" href="#" class="form-control input-sm m-bot15" data-toggle="dropdown"> Opções de tela <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><%= link_to "Visualização 1", monitor_from_categories_dashboards_path(dashboard_id: current_dashboard, view: "alternative_view"), method: :get  %></li>
              <li><%= link_to "Visualização 2", monitor_from_categories_dashboards_path(dashboard_id: current_dashboard), method: :get  %></li>              
          </ul>
        </li>
        <li class="dropdown" style="padding-right: 30px; float: left">
          <form action="#" class="pull-right position">
            <%= form_tag monitor_dashboards_path, method: :get do %>
              <input type="text" placeholder="Palavra chave" class="form-control search-btn " style= "width: 300px"
                <%= text_field_tag :text_search, params[:text_search] %>
                <%= submit_tag "Search", name: nil, class: "hidden" %>

              <%end%>
          </form>
        </li>                      
      </ul>
    </section>

    <section class="panel" id="all-items">
      <header class="panel-heading">
        <ul class="breadcrumb">
          <li>
            <a href="/d">Painél</a>
          </li>
          <li class="active">
            Concorrência
          </li>
        </ul>
      </header>
      <div class="panel-body">
          <% if !params[:view] and !params[:query] %>
          <div class="no-more-tables">
            <table class="display table table-bordered table-striped table-condensed no-more-tables">
              <thead>
                <%= render "monitor_from_categories_table_head" %>
              </thead>
              <tbody id="items-body">
                <%= render "monitor_from_categories" %>
              </tbody>
            </table>
          </div>
          <% else %>
          <%= render "alternative_view" %>
          <% end %>

      </div>

    </section>

  </div>
</div>

