- feedback ||= @feedback


= simple_form_for @feedback, url: :feedback_update_dashboard_boxes, wrapper: :small, remote: true, html: { class: "comment_form form-horizontal",  role: "form" } do |f|
  .row
    .col-lg-12
      = f.error_notification

  .row
    .col-lg-12
      = f.hidden_field :meli_order_id, :value => params[:meli_order_id]
      = f.hidden_field :dashboard_id, :value => params[:dashboard_id]
      = f.hidden_field :updated, :value => true
      = f.select :rating, ["positive"] #, "neutral", "negative"]
      = f.input :message

  .row
    .col-action.text-center
      = f.button :button, type: :submit, class: "btn-success", title: t("helpers.submit.update", model: "") do
        = t("helpers.submit.update", model: "")
