

<section class="panel" style="background: #2a3542 ">
  <ul class="panel" style= "width: 100%; height: 60px; padding-top:15px; padding-left: 30px;">
    <li class="dropdown" style="padding-right: 30px; float: left">
      <%= link_to dashboard_feedbacks_path(@dashboard), id: "refresh_items", class: "btn btn-info btn-sm" do %>
        <%= translate_button_content(:refresh, Box, icon: :refresh, label_class: "sr-only") %>
      <% end %>
    </li>
    <li class="dropdown" style="padding-right: 30px; float: left">
      <form action="#" class="pull-right position">
        <%= form_tag dashboard_feedbacks_path, method: :get do %>
          <input type="text" placeholder="buscar pela ordem" class="form-control search-btn "
            <%= text_field_tag :query, params[:query] %>
            <%= submit_tag "Search", name: nil, class: "hidden" %>

          <%end%>
      </form>
    </li>
    <li class="dropdown" style="padding-right: 30px; float: left">
      <a style="color:#31708f  ; background: #d9edf7 " href="#" class="form-control input-sm m-bot15" data-toggle="dropdown"> Enviadas <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% ["positive", "negative", "neutral"].each do |rating| %>
          <li><%= link_to I18n.t(rating, scope: "helpers.feedback.ratings"), dashboard_feedbacks_path(rating_sent: rating), method: :get %></li>
        <% end %>
      </ul>
    </li>
    <li class="dropdown" style="padding-right: 30px; float: left">
      <a style="color:#31708f  ; background: #d9edf7 " href="#" class="form-control input-sm m-bot15" data-toggle="dropdown"> Recebidas <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% ["positive", "negative","neutral"].each do |rating| %>
          <li><%= link_to I18n.t(rating, scope: "helpers.feedback.ratings"), dashboard_feedbacks_path(rating_received: rating), method: :get %></li>
        <% end %>
      </ul>
    </li>
    <li class="dropdown" style="padding-right: 30px; float: left">
      <%= link_to feedback_notify_dashboard_boxes_path(dashboard_id: @dashboard.id, type: :no_feedback), method: :post ,  data: { confirm: 'Você tem certeza que deseja enviar um email cobrando todos os vendedores que não enviaram qualificação para suas compras?' }, id: "refresh_items", class: "btn btn-info btn-sm" do %>
        <%= "Cobrar qualificações" %>
      <% end %>
    </li>
  </ul>
</section>


<section class="panel" id="all-items">
  <header class="panel-heading">
    <ul class="breadcrumb">
      <li>
        <a href="/d">Painél</a>
      </li>
      <li class="active">
        Qualificações
      </li>
    </ul>
  </header>
  <div class="panel-body">
    <% if @feedbacks.present? %>
      <div class="no-more-tables">
        <table class="display table table-bordered table-striped table-condensed no-more-tables">
          <thead>
            <%= render "index_table_head" %>
          </thead>
          <tbody id="items-body">
            <%= render @feedbacks %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</section>


<div class="col-md-12" id="question_paginate" >
  <%= will_paginate @feedbacks, previous_label: h("<"), next_label: h(">") %>
</div>
