= simple_form_for @user, url: invite_path, html: { class: "sign_user_form sign_up_user_form form-horizontal",  role: "form" } do |f|
  .modal-body

    = f.input :name, required: true, autofocus: true

    = f.input :email, required: true

    = f.input :password, required: true

    = f.input :password_confirmation, required: true

  .modal-footer
    = f.button :button, type: :submit, class: 'btn btn-primary', title: t("helpers.submit.create", model: down_model(User)) do
      = t("helpers.submit.create", model: down_model(User))
