    <aside class="profile-nav col-lg-3">
      <section class="panel">
        <div class="user-heading round">
            <% if current_user.image.present? %>
            <a href="#">
              <%= image_tag current_user.image %>
            </a>
            <% else %>
            <a href="#">
              <%= image_tag("theme/avatar-mini.jpg", alt: current_user.name, class: "lazy avatar-mini") %>
            </a>
            <% end %>
            <h1><%=current_user.name%></h1>
            <p><%=current_user.email%></p>
        </div>

        <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="/profile">
                <i class="fa fa-user"></i>
                Dados Pessoais
              </a>
            </li>
            <li>
              <%= link_to(user_profile_plan_path) do %>
                <i class="fa fa-user"></i> Dados Financeiros
              <% end %>
            </li>
            <li>
              <%= link_to(dashboard_aircrm_preferences_path(dashboard_id: current_user.dashboards.first.id,preference_type: "seller_feedback_message")) do %>
                <i class="fa fa-user"></i> Qualificação ao comprador
              <% end %>
            </li>
        </ul>
      </section>
    </aside>
