- if user
  %tr{ id: "user_#{user.id}" }
    %td.text-center.hidden-xs.table-checkbox
      %input.list-child{type: "checkbox", value: ""}/
    %td{ "data-title" => @klass.human_attribute_name(:name       ) }
      = link_to user_path(user), title: user.name do
        = truncate(user.name, length: 75)
    %td{ "data-title" => @klass.human_attribute_name(:email  ) }
      = user.email
    %td{ "data-title" => @klass.human_attribute_name(:phone  ) }
      = user.phone
    %td{ "data-title" => @klass.human_attribute_name(:address  ) }
      = user.address
    %td{ "data-title" => @klass.human_attribute_name(:role  ) }
      = user.role
    %td{ "data-title" => t_model(Dashboard) }
      = user.dashboards.count
    %td{ "data-title" => t_model(Account) }
      = user.account.subscription_status
    %td{ "data-title" => @klass.human_attribute_name(:sign_in_count  ) }
      = user.sign_in_count

    %td{ "data-title" => @klass.human_attribute_name(:last_sign_in_at  ) }
      - if user.last_sign_in_at
        %time.unloaded{ datetime: user.last_sign_in_at.to_time }= I18n.l(user.last_sign_in_at.to_time)

    %td{ "data-title" => @klass.human_attribute_name(:invitations_count  ) }
      = user.invitations_count
    %td{ "data-title" => @klass.human_attribute_name(:invited_by_id  ) }
      = user.invited_by_id

    %td{ "data-title" => Subscription.human_attribute_name(:expires_in  ) }
      = subscription_date_expiration

    %td.table-actions
      =# render 'user_actions', user: user
