<div class="row">
  <%= render "sidebar" %>
  <aside class="profile-info col-lg-9" id= "profile_plan">
      <section class="panel" >
          <div class="bio-graph-heading">
              Dados pessoais
          </div>
          <div class="panel-body bio-graph-info">
              <h1>Dados pessoais</h1>
              <div class="row">
                  <div class="bio-row">
                      <p><span>Primeiro Nome: </span><%= current_user.first_name %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Último Nome: </span><%=current_user.last_name%></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Membro desde: </span><%= current_user.created_at%></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Telefone:</span><%=current_user.phone%></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Email: </span><%= current_user.email %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Email do Recibo: </span><%= current_user.alternative_email %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Endereço: </span><%= current_user.address["address_line"] if current_user.address.present? %></p>
                  </div>               
                  <div class="bio-row">
                      <p><span>Razão Social: </span><%= current_user.razaosocial %></p>
                  </div>               
                  <div class="bio-row">
                      <p><span>CNPJ: </span><%= current_user.cnpj %></p>
                  </div>

                  <div class="bio-row">
                      <p><span>Website: </span><%= current_user.website %></p>
                  </div>

                  <div class="bio-row">
                      <%= link_to "Editar", edit_user_path(current_user.id), remote: true %>
                  </div>                  

              </div>
          </div>
      </section>
  </aside>
</div>




