<div class="row">
  <%= render "sidebar" %>
  <aside class="profile-info col-lg-9" id= "profile_plan">
    <section class="panel">
        <div class="bio-graph-heading">
            Dados do Plano
        </div>
        <div class="panel-body bio-graph-info">
            <h1>Dados pessoais</h1>
            <div class="row">
                <div class="bio-row">
                    <p><span>Nome do Plano: </span><%= current_account.subscription.status%></p>
                </div>
                <div class="bio-row">
                    <p><span>Membro desde: </span><%=current_account.subscription.created_at%></p>
                </div>
                <div class="bio-row">
                    <p><span>Última cobrança </span><%=Account.last_payment_notification(current_account)%></p>
                </div>
                <div class="bio-row">
                    <p><span>Próxima fatura:</span><%=Account.next_payment_notification(current_account)%></p>
                </div>
                <div class="bio-row">
                    <p><span>Plano: </span><%= link_to "Mudar Plano", plans_path %></p>
                </div>
            </div>
        </div>
    </section>
  </aside>
</div>


