<!-- page start
-->
<div class="row">
  <div class="col-lg-12">

<% unless @boxes %>
  <%= "Estamos puxando suas vendas do Mercado Livre" %>
<% else %>

  <section class="panel" style="background: #2a3542 ">
    <ul class="panel" style= "width: 100%; height: 60px; padding-top:15px; padding-left: 30px;">
      <li class="dropdown" style="padding-right: 30px; float: left">
        <form action="#" class="pull-right position">
          <%= form_tag dashboard_index_test_path, method: :get do %>
            <input type="text" placeholder="buscar" class="form-control search-btn "
              <%= text_field_tag :query, params[:query] %>
              <%= submit_tag "Search", name: nil, class: "hidden" %>

            <%end%>
        </form>
      </li>
      <li class="dropdown" style="padding-right: 30px; float: left">
        <a style="color:#31708f  ; background: #d9edf7 " href="#" class="form-control input-sm m-bot15" data-toggle="dropdown"> Status Dados <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% ["pendente", "sem pendências"].each do |status| %>
            <li><%= link_to status, dashboard_index_test_path(status_data: status), method: :get %></li>
          <% end %>
        </ul>
      </li>
      <li class="dropdown" style="padding-right: 30px; float: left">
        <a style="color:#31708f  ; background: #d9edf7 " href="#" class="form-control input-sm m-bot15" data-toggle="dropdown"> Status Endereço <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% ["pendente", "sem pendências"].each do |status| %>
            <li><%= link_to status, dashboard_index_test_path(status_address: status), method: :get %></li>
          <% end %>
        </ul>
      </li>
      <li class="dropdown" style="padding-right: 30px; float: left">
        <a style="color:#31708f  ; background: #d9edf7 " href="#" class="form-control input-sm m-bot15" data-toggle="dropdown"> Status Pagamento <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% list_of_payment_tags.each do |payment_status| %>
            <li><%= link_to I18n.t(payment_status, scope: "helpers.boxes.payment_tags"), dashboard_index_test_path(status_box_payment: payment_status), method: :get %></li>
          <% end %>
        </ul>
      </li>
      <li class="dropdown" style="padding-right: 30px; float: left">
        <a style="color:#31708f  ; background: #d9edf7 " href="#" class="form-control input-sm m-bot15" data-toggle="dropdown"> Status Envio <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% list_of_shipping_tags.each do |shipping_status| %>
            <li><%= link_to I18n.t(shipping_status, scope: "helpers.boxes.shipping_tags"), dashboard_index_test_path(status_box_shipping: shipping_status), method: :get %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </section>

    <section class="panel" id="all-items">
      <header class="panel-heading">
        <%= render_breadcrumbs %>
      </header>
      <div class="panel-body">
        <% if @boxes.present? %>
          <div class="no-more-tables">
            <table class="display table table-bordered table-striped table-condensed no-more-tables">
              <thead>
                <%= render "index_table_head" %>
              </thead>
              <tbody id="items-body">
                <%= render @boxes %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </section>

    <% end %>
  </div>
</div>

<div class="col-md-12" id="question_paginate" >
<%= will_paginate @boxes, previous_label: h("<"), next_label: h(">") %>
</div>
