#step-modal.modal.fade
  .modal-dialog
    .modal-content
      = simple_form_for @schedule, wrapper: :small, html: { class: "step_form form-horizontal",  role: "form" } do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
          %h4.modal-title Novo Evento

        .modal-body.clearfix
          .col-md-12
            = f.label :customer_email, "Email do candidato"
            = f.input :customer_email, autofocus: true

            #p="Dia"
            .form-group.schedule_date_day
              #schedule_date_day_datepicker
              = f.text_field :date_day, class: "hidden"

              #p{style:"margin-top:30px; margin-left:10px"}="Horário"
              %pick_time{style:"margin-left:-20px"}= f.input :date_time

            #p="Endereço"
            = f.input :address
            = f.label :note, "Anotações"
            = f.input :note




        .modal-footer
          = f.button :button, type: :submit, class: 'btn btn-primary', title: t("helpers.submit.create", model: down_model(Schedule)) do
            = t("helpers.submit.create", model: down_model(Schedule))

          %a.btn.btn-default{ href: "#", "data-dismiss" => "modal" }
            = t("helpers.submit.cancel", model: "")

          - unless @schedule.new_record?
            = link_to(t("helpers.titles.destroy", model: ""), @step, method: :delete, class: "btn btn-danger", data: { confirm: t("helpers.confirm.destroy", model: down_model(Schedule)) })

          :coffee
            $ ->
              $('#schedule_date_day_datepicker').datepicker
                # dateFormat: 'yy-mm-dd'
                altField: "#schedule_date_day",
                altFormat: "yy-mm-dd"
