<p id="notice"><%= notice %></p>

<p>
  <strong>Paypal customer token:</strong>
  <%= @subscription.paypal_customer_token %>
</p>

<p>
  <strong>Paypal recurring profile token:</strong>
  <%= @subscription.paypal_recurring_profile_token %>
</p>

<p>
  <strong>Account:</strong>
  <%= @subscription.account_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @subscription.user_id %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
