<% if @boxes %>
  <% @boxes.each do | box| %>
    <% if box %>
      <tr id="item_<%= box.id %>">
      <td class="text-center hidden-xs table-checkbox">

        <%= check_box_tag "box_id[]", box.id %>
      </td>
        <td style= "width: 250px" data-title="<%= Mercadolibre::Label.human_attribute_name(:title       ) %>">
          <div class="user-heading round">
          <% if box.item and box.meli_variation_id%>
          <dt style= "margin-top: -20px">Variação</dt>
          <dd>
            <% box.item.variations.find_by(meli_variation_id: box.meli_variation_id).variation_types.each do |variation_type|  %>
              <%= variation_type.meli_value_name %>
            <% end %>
            </br>
            </br>
          <% end %>
          </dd>

          <% if box.item.pictures and box.item.pictures.first and box.item.pictures.first.meli_url != nil %>
            <a href="#">
                <%= image_tag box.item.pictures.first.meli_url, style: "width: 50px; height: 30px" %>
                <%= truncate(box.item.title, length: 28) %>
            </a>
          <% end %>
          </div>
        </td>
        <td style= "width: 130px" data-title="<%= Mercadolibre::Label.human_attribute_name(:meli_item_id       ) %>">
            <%= box.meli_order_id %>
        </td>
        <td style= "width: 130px" data-title="<%= Mercadolibre::Label.human_attribute_name(:meli_item_id       ) %>">
          <% if box.customer %>
            <%= box.customer.nickname %>
          <% end %>
        </td>
        <td data-title="<%= Mercadolibre::Label.human_attribute_name(:start_time  ) %>">
          <% if box.shipping.receiver_address %>
            <%= box.shipping.receiver_address[:address_line] %>
          <% end %>
        </td>
        <td style= "width: 100px" data-title="<%= Mercadolibre::Label.human_attribute_name(:status      ) %>">
          <%= link_to 'Ver Recibo', dashboard_box_receipt_path(id: box.id, box_id: box.id) ,style: "font-size: 11px", target: "blank" %>
        </td>

      </tr>
    <% end %>
  <% end %>
<% end %>

