#invitation-modal.modal.fade
  .modal-dialog
    .modal-content
      = simple_form_for resource, as: resource_name, url: invitations_path, multipart: true, html: { class: "invitation_form form-horizontal",  role: "form" } do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
          %h4.modal-title= t(".invitations_import")

        .modal-body.clearfix
          .col-md-12
            = f.input :file, as: :file, autofocus: true, required: true

        .modal-footer
          = f.button :button, type: :submit, class: 'btn btn-primary' do
            = t(".send")

          %a.btn.btn-default{ href: "#", "data-dismiss" => "modal" }
            = t(".cancel")
