<% if question %>
  <tr id="question_<%= question.id %>">
    <td style= "width: 210px" data-title="<%= Mercadolibre::Label.human_attribute_name(:title       ) %>">
      <dl class="dl-horizontal">
        <dt>Data:</dt>
        <dd><%= question.meli_date_created[0..9] if question.meli_date_created %></dd>
        <dt>Anúncio:</dt>
        <% if question.meli_item %>
        <dd><%= question.meli_item_id %></dd>
        <dt>Preço:</dt>
        <dd>R$ <%= question.meli_item.price %></dd>
        <dt>Qtd disponível:</dt>
        <dd><%= t(question.meli_item.item_storage.available_quantity) %></dd>
        <% end %>
        <% if question.meli_item and question.meli_item.variations.present?%>
        <dt>Variação</dt>
        <dd>
          <% question.meli_item.variations.each do |variation|%>
            <% variation.variation_types.each do |variation_type|%>
              <%= variation_type.meli_value_name %>
            <% end %>
          <% end %>
          </br>
          </br>
        <% end %>
        </dd>
      </dl>
      <div class="user-heading round">
      <% if question.meli_item and question.meli_item.pictures and question.meli_item.pictures.first and question.meli_item.pictures.first.meli_url != nil%>
        <a href="#">
            <%= image_tag question.meli_item.pictures.first.meli_url, style: "width: 50px; height: 70px" %>
            <%= truncate(question.meli_item.title, length: 18) %></br>
        </a>
      <% end %>
      </div>
    </td>

    <td style="width:210px" data-title="<%= Mercadolibre::Label.human_attribute_name(:meli_item_id       ) %>">
      <% if question.customer %>
      <dl class="dl-horizontal">
        <dt>Nickname:</dt>
        <dd><%= question.customer.nickname %></dd>
        <dt>Nome:</dt>
        <dd><%= question.customer.name %></dd>
        <dt>Telefone:</dt>
        <dd><%= question.customer.phone%></dd>
        <dt>Email:</dt>
        <dd style="width: 80px; white-space: nowrap; overflow: hidden;text-overflow: ellipsis"><%= question.customer.email%></dd>
      </dl>
      <% end %>
    </td>

    <td data-title="<%= Mercadolibre::Label.human_attribute_name(:meli_item_id       ) %>">

      <% if (question.status == :unanswered or question.status == :closed_unanswered or question.status == :under_review) %>
        <span type="button" class="badge alert-danger">
          <%= t(question.status, scope: "helpers.questions.status") || "" %>
        </span>
      <% end %>

      <% if question.status? %>
        <span type="button" class="badge alert-success">
          <%= t(question.status, scope: "helpers.questions.status") || "" %>
        </span>
      <% end %>

      <% if Mercadolibre::Question.where(dashboard_id: current_dashboard.id, author_id: question.author_id, meli_item_id: question.meli_item_id).count > 1%>
        <span type="button" class="badge alert-warning">
          <%= link_to 'Ver histórico', dashboard_questions_path(author_id: question.author_id, meli_item_id: question.meli_item_id), method: :get, style: "font-size: 11px" %>
        </span>
      <% end %>

      <div class="group-rom" style="margin-top:15px">
        <div class="msg-time-chat">
          <% if question.customer and question.customer.nickname.present? %>
            <a href="#" class="message-img">
              <%=image_tag("theme/avatar-mini.jpg", alt: question.customer.nickname, class: "lazy avatar-mini")%>
            </a>
          <% end %>
            <div class="message-body msg-in">
                <span class="arrow"></span>
                <div class="text">
                  <% if question.customer and question.customer.nickname.present? %>
                    <p class="attribution"><a style= "color: #333"><%= question.customer.nickname%></a> <%= question.meli_date_created %> </p>
                  <% end %>
                    <p><%= question.text.html_safe if question and question.text %></p>
                </div>
            </div>
        </div>
      </div>

      <p style="margin-top: 0px"><%= question.answer[:text] if question.answer and question.answer[:text]%></p>

    </td>

    <td style="width:100px" data-title="<%= Mercadolibre::Label.human_attribute_name(:meli_item_id       ) %>">
      <ul>
        <% if question.unanswered? %>
          <a href="javascript:;">
            <i class="fa fa-envelope text-link"></i>
            <%= link_to 'Responder', edit_dashboard_question_path(current_dashboard, question.id, author_id: question.author_id, meli_item_id: question.meli_item_id), remote: true, style: "font-size: 11px" %>
          </a>
        <%end%>
        </br>
        <a href="javascript:;">
          <i class="fa fa-envelope text-link"></i>
          <%= link_to 'Apagar', dashboard_question_path(current_dashboard, question.id), method: :delete, data: { confirm: 'Você tem certeza que deseja apagar?' }, remote: true, style: "font-size: 11px" %>
        </a>
        </br>
      <% unless question.customer_blocked? %>
        </br>
        <a href="javascript:;">
          <i class="fa fa-envelope text-link"></i>
          <%= link_to 'Bloquear', block_customer_dashboards_path(current_dashboard, question.id), method: :post, data: { confirm: 'Você tem certeza que deseja bloquear esse usuário?' }, style: "font-size: 11px" %>
        </a>
        <% else %>
        </br>
        <a href="javascript:;">
          <i class="fa fa-envelope text-link"></i>
          <%= link_to 'Desbloquear', unblock_customer_dashboards_path(current_dashboard, question.id), method: :post, data: { confirm: 'Você tem certeza que deseja desbloquear esse usuário?' }, style: "font-size: 11px" %>
        </a>
        <%end%>
      </ul>
    </td>



  </tr>
<% end %>

