<!-- page start
-->
<div class="row">
  <div class="col-lg-12">

<% unless @questions %>
  <%= "Estamos puxando suas vendas do Mercado Livre" %>
<% else %>

<section class="panel">
  <ul class="panel" style= "width: 100%; height: 60px; padding-top:15px; padding-left: 30px;">
    <li class="dropdown" style="padding-right: 30px; float: left">
      <form action="#" class="pull-right position">
        <%= form_tag dashboard_questions_path, method: :get do %>
          <input type="text" placeholder="Palavra" class="form-control search-btn "
            <%= text_field_tag :query, params[:query] %>
            <%= submit_tag "Search", name: nil, class: "hidden" %>

          <%end%>
      </form>
    </li>
    <li class="dropdown" style="padding-right: 30px; float: left">
      <a style="color:#31708f  ; background: #d9edf7" href="#" class="form-control input-sm m-bot15" data-toggle="dropdown"> Filtrar status <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% Mercadolibre::Question::statuses.each do |status| %>
          <li><%= link_to t(status.first, scope: "helpers.questions.status"), dashboard_questions_path(status: status.last), method: :get  %></li>
        <% end %>
      </ul>
    </li>
    <li class="dropdown" style="padding-right: 30px; float: left">
      <form action="#" class="pull-right position">
      <% status_class = "danger"   %>
        <span type="button" class="badge alert-<%= status_class %>">
        </span>
      </form>
    </li>

  </ul>
</section>

    <section class="panel" id="all-items">
      <header class="panel-heading">
        <%= render_breadcrumbs %>
      </header>
      <div class="panel-body">
        <% if @questions.present? %>
          <div class="no-more-tables">
            <table class="display table table-bordered table-striped table-condensed no-more-tables">
              <thead>
                <%= render "index_table_head" %>
              </thead>
              <tbody id="items-body">
                <%= render @questions %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </section>

    <% end %>
  </div>
</div>

<div class="col-md-12" id="question_paginate" >
<%= will_paginate @questions, previous_label: h("<"), next_label: h(">") %>
</div>
