<% dashboard = current_dashboard || current_user.dashboards.first || User.where(id: current_user.invited_by_id).first.dashboards.first %>
<% if dashboard || current_user.lojista? %>
<div style="background:#fff; height: 600px">
   <div class="container">
       <div class="row">
           <div class="row">

               <div class="services" style="margin-top: 60px">
                   <div class="col-lg-6 col-sm-6" style="text-align: center; margin-top:30px">
                       <div class="btn" style="color:#31708f  ; background: #d9edf7 ; width: 200px">
                           <h5 class="title"><%=link_to "Vendas", dashboard_index_test_path(dashboard)%></h5>
                       </div>
                   </div>
                   <div class="col-lg-6 col-sm-6" style="text-align: left; margin-top:30px">
                       <div class="btn" style="color:#31708f  ; background: #d9edf7 ; width: 200px">
                           <h5 class="title"><%=link_to "Anúncios", dashboard_items_path(dashboard)%></h5>
                       </div>
                   </div>
               </div>
               <div class="services">
                   <div class="col-lg-6 col-sm-6" style="text-align: center; margin-top:30px">
                       <div class="btn" style="color:#31708f  ; background: #d9edf7 ; width: 200px">
                           <h5 class="title"><%=link_to "Perguntas", dashboard_questions_path(dashboard)%></h5>
                       </div>
                   </div>
                   <div class="col-lg-6 col-sm-6" style="text-align: left; margin-top:30px">
                       <div class="btn" style="color:#31708f  ; background: #d9edf7 ; width: 200px">
                           <h5 class="title"><%=link_to "Qualificações", dashboard_feedbacks_path(dashboard)%></h5>
                       </div>
                   </div>
               </div>
               <div class="services">
                   <div class="col-lg-6 col-sm-6" style="text-align: center; margin-top:30px">
                       <div class="btn" style="color:#31708f  ; background: #d9edf7 ; width: 200px">
                           <h5 class="title"><%=link_to "Etiquetas", dashboard_label_index_path(dashboard)%></h5>
                       </div>
                   </div>
                   <div class="col-lg-6 col-sm-6" style="text-align: left; margin-top:30px">
                       <div class="btn" style="color:#31708f  ; background: #d9edf7 ; width: 200px">
                           <h5 class="title"><%= link_to "Clientes", dashboard_customers_path(dashboard)%></h5>
                       </div>
                   </div>
               </div>
               <div class="services">
                   <div class="col-lg-6 col-sm-6" style="text-align: center; margin-top:30px">
                       <div class="btn" style="color:#31708f  ; background: #d9edf7 ; width: 200px">
                           <h5 class="title"><%=link_to "Concorrência", monitor_from_categories_dashboards_path(dashboard_id: dashboard.id, view: "alternative_view")%></h5>
                       </div>
                   </div>
                   <div class="col-lg-6 col-sm-6" style="text-align: left; margin-top:30px">
                       <div class="btn" style="color:#31708f  ; background: #d9edf7 ; width: 200px">
                           <h5 class="title"><%= link_to "Tendências", dashboard_trends_path(dashboard)%></h5>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<% end %>
