<div class="row">
  <%= render "sidebar" %>
  <aside class="profile-info col-lg-9" id= "profile_plan">
      <section class="panel" style= "padding: 30px">
          <div class="bio-graph-heading">
              Dados da qualificação a ser enviada
          </div>
        </br>
          <div>
            <% if @seller_feedback_messages.count == 0  %>
            <%= link_to(new_dashboard_aircrm_preference_path(dashboard_id: current_user.dashboards.first.id, preference_type: "seller_feedback_message", action_type: "new"), class: "btn btn-info", remote: true) do %>
              <i class="fa fa-user"></i> Adicionar
            <% end %>
            <% end %>
          </div>
          <% @seller_feedback_messages.each do |message| %>
          <div class="panel-body bio-graph-info">
              <div class="row">
                <h4>status da qualificação automática:</h4>
                <p><%= message.data[:status] if message.data and message.data[:status]%></p>
                <h4>status do pagamento:</h4>
                <p><%= message.data[:payment_status] if message.data and message.data[:payment_status]%></p>
                <h4>status do envio:</h4>
                <p><%= message.data[:shipping_status] if message.data and message.data[:shipping_status]%></p>
                <h4>nota:</h4>
                <p><%= message.data[:rating] if message.data and message.data[:rating]%></p>
                <h4>conteúdo:</h4>
                <p><%= message.data[:content] if message.data and message.data[:content]%></p>
              </div>
          </div>
          <% end %>
          <div>
            <% if @seller_feedback_messages.count != 0 %>
            <%= link_to(edit_dashboard_aircrm_preference_path(id: @seller_feedback_messages.first.id, dashboard_id: current_user.dashboards.first.id, preference_type: "seller_feedback_message", action_type: "update"), class: "btn btn-info", remote: true) do %>
              <i class="fa fa-user"></i> Editar
            <% end %>
            <% end %>
          </div>
      </section>
  </aside>
</div>

