<div class="row">
  <%= render "sidebar" %>
  <aside class="profile-info col-lg-9" id= "profile_plan">
      <section class="panel" >
          <div class="bio-graph-heading">
              Mensagens das Avaliações ao Comprador
          </div>
          <div>
            <%= link_to(new_dashboard_aircrm_preference_path(dashboard_id: current_user.dashboards.first.id, preference_type: "seller_feedback_message"), class: "btn btn-info", remote: true) do %>
              <i class="fa fa-user"></i> Adicionar motivo
            <% end %>
          </div>
          <% @seller_feedback_messages.each do |message| %>
          <div class="panel-body bio-graph-info">
              <h1>messagem número <%= message.id %></h1>
              <div class="row">
                  <div class="bio-row">
                      <p><%= message.data[:content] if message.data and message.data[:content]%></p>
                  </div>
              </div>
          </div>
          <% end %>
          <div>
            <%= link_to(new_dashboard_aircrm_preference_path(dashboard_id: current_user.dashboards.first.id, preference_type: "seller_feedback_message"), class: "btn btn-info", remote: true) do %>
              <i class="fa fa-user"></i> Adicionar motivo
            <% end %>
          </div>
      </section>
  </aside>
</div>

