.dashboard{ id: current_dashboard.id }
  .steps-canvas-wrapper.nice-scroll
    .steps-canvas.ui-sortable{ "data-update_url" => sort_dashboard_steps_path(current_dashboard), class: "#{"ui-sortable" if current_user.admin?}" }

      - # Iterate through steps to print them out
      - [{id: 1, name: "to send", status_param: :to_send}].each do |step|
        - if step
          - # STEP Block
          .step.ui-droppable{ id: step[:id], class: step[:status_param] }
            .step-header.non-empty.editable.clearfix
              %span.step-header-name= step[:name]

              / .options.pull-right
              /   / = link_to edit_dashboard_step_path(current_dashboard, step), id: "edit_step", title: t("helpers.submit.edit", model: down_model(Step)), remote: true do
              /     %i.fa.fa-edit

            - # add class to scroll all global .nice-scroll
            .step-boxes.active-box.clearfix.ui-sortable{ class: 'step-boxes collection-view', id: "box-collection-view", "data-status" => "printable-labels" }

              - # Iterate through boxes to print them out
              - @boxes.each_with_index do |box, index|
                - customer ||= box.customer

                / - # Box Item
                / .step-box.ui-droppable{ id: box.id, "data-meli_order_id" => box.meli_order_id, "data-box-col-order" => index, "data-update_url" => dashboard_box_path(current_dashboard, box) }
                /   .step-box-details.clearfix
                /     %span.box-short-id.hide= "##{box.id}"
                /     .box_name= box.name
                /   .step-box-footer.clearfix
                /     %p.box_label_details.box_value= "Valor: #{number_to_currency(box.price, unit: "R$", separator: ",", delimiter: "")}"
                /     %p.box_label_details.box_zip_code
                /       = "CEP:"
                /       = box.shipping.zip_code_or_ask
                /     / %p.box_label_details.box_shipping_type= "Shipping type: #{box.shipping.status}"
                /     / - if customer
                /     /   = link_to customer.username, customer_path(customer), class: "customer"
                /     / = shipping_status_label box.shipping_status, box
                / - # Box Item EOF

        - # Label Container
        .step.ui-droppable{ id: 'labels-print-container', class: 'labels-print-container' }
          .step-header.non-empty.editable.clearfix
            %span.step-header-name= 'Printable Labels'
          %header{class: "panel-heading"}
            %button{id: "reset-labels", class: "btn btn-shadow btn-primary"}= "Limpar tela"
            / %label{class: "label_check c_on", for: "checkbox-01"}
            /   %input{type: "checkbox", name: "sample-checkbox-01", id: "checkbox-01"}
            /   ="Marcar todas como MãoPrópria"
            %button{id: "print-labels", class: "btn btn-disabled btn-default"}= "Preparar para Impressão"
          = render partial: "label_item"
        - # Label Container EOF


%script
  window.DASHBOARD        = JSON.parse(JSON.stringify(#{raw @dashboard.to_json || {}}));
  window.DASHBOARD.boxes  = JSON.parse(JSON.stringify(#{raw @boxes.to_json || {}}));
  / window.DASHBOARD.shippings  = JSON.parse(JSON.stringify(#{raw @boxes.to_json(include: [:customer, :user]) || {}}));
  / window.DASHBOARD.steps  = JSON.parse(JSON.stringify(#{raw @steps.to_json || {}}));

%script
  // REMOVE THIS HACK || RENAME "label" FROM <body>
  $(document).ready(function(){ $('body').removeClass('label'); });

/ = content_for :javascript_after_load do
/   = javascript_include_tag "labels-page"

