!!!
%html
  / {lang: "#{I18n.locale}"}
  %head
    %meta{charset: "utf-8"}/

    %title AirCRM

    %meta{content: "aircrm, crm, online, cloud, air, system, sistema, responsivo", name: "keywords"}/
    %meta{content: "O AirCRM é o sistema ideal para aumentar o desempenho da sua gestão de negócios.", name: "description"}/
    %meta{content: "Gullit Miranda", name: "author"}/
    %meta{content: "IE=8", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/

    = stylesheet_link_tag    "clean", media: "all", "data-turbolinks-track" => true

    = favicon_link_tag 'favicon.ico'

    / HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries
    /[if lt IE 9]
      = javascript_include_tag "html5shiv", "data-turbolinks-track" => true
      = javascript_include_tag "respond", "data-turbolinks-track" => true

    = csrf_meta_tags

  %body{ class: "#{dispatcher_class}", "data-route" => dispatcher_route }
    .container
      = yield
    / .container

    / Load JS here for greater good =============================
    = javascript_include_tag "clean", "data-turbolinks-track" => true
    = javascript_include_tag "locales/#{I18n.locale}", "data-turbolinks-track" => true

    = render 'layouts/analytics'  if ENV["GOOGLE_ANALYTICS_ACCOUNT"]
    = render 'layouts/chat'       if ENV["ZOPIM_KEY"]
    = render 'layouts/crazyegg'
